input {
  border: 1px solid #A3A3A3;
}

.head1 {
  line-height: 1.5;
}

/* .para1 {
  line-height: 36px;
} */
@media screen and (max-width:768px){
  .navbar menu ul{
    display: none;
    /* space-y-5 lg:space-y-0 lg:space-x-12 text-[#434343] font-normal text-xl leading-6 pt-3 lg:flex */
  }
}


@media screen and (max-width:768px){
  .navbar-menu.expanded ul{
    display: block;
  }
}